.root{
    -fx-background-color: #282c34;
    -fx-font-smoothing-type: antialiased;
    -fx-font-weight: 800;
    -fx-font-family: 'Montserrat';
}

#loginLabel{
    -fx-font-size: 4em;
}

#registerLabel{
    -fx-font-size: 4em;
}

#draggableArea{
    -fx-background-color: #282c34;
    -fx-background-radius: 5px;
}

#mainContainer{
    -fx-background-color: #282c34;
    -fx-background-radius: 5px;
}

.label{
    -fx-text-fill: #718194;
    -fx-font-weight: 500;
}

.radio-button {
    -fx-cursor: hand;
}

.button{
    -fx-background-color: transparent;
}

.button:hover{
    -fx-cursor: hand;
}

.combo-box{
    -fx-prompt-text-fill: #718194;
}

.combo-box .arrow{
    -fx-background-color: #333a43;
}

.combo-box .list-cell {
    -fx-background-color: #282c34;
    -fx-text-fill: #3a92ef;
}

.combo-box-popup .list-view {
    -fx-border-width: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 10, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: #333a43;
    -fx-background-color: #333a43;
    -fx-text-fill: #3a92ef;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #3a92ef;
    -fx-text-fill: #333a43;
}

.combo-box-base {
    -fx-background-color: #282c34, #282c34, #282c34, #282c34;
    -fx-text-fill: #333a43;
}

#closeBtn{
    -fx-text-fill: rgba(255,255,255,0.3);
    -fx-border-radius: 0;
    -fx-font-weight: 800;
}

#closeBtn:hover{
    -fx-background-color: #ec2020;
    -fx-text-fill: #fff;
    -fx-cursor: default;
}

#minimizeBtn{
    -fx-text-fill: rgba(255,255,255,0.3);
    -fx-cursor: default;
    -fx-font-weight: 800;
}

#minimizeBtn:hover{
    -fx-background-color: #333a43;
    -fx-text-fill: #fff;
    -fx-cursor: default;
}

#loginBtn{
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 7px 25px;
    -fx-border-color: #3a92ef;
    -fx-text-fill: #3a92ef;
}

#loginBtn:hover{
    -fx-background-color: #3a92ef;
    -fx-text-fill: #fff;
    -fx-border-style: solid;
    -fx-cursor: hand;
}

#registerBtn{
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 7px 25px;
    -fx-border-color: #3a92ef;
    -fx-text-fill: #3a92ef;
}

#registerBtn:hover{
    -fx-background-color: #3a92ef;
    -fx-text-fill: #fff;
    -fx-border-style: solid;
    -fx-cursor: hand;
}

.text-field {
    -fx-prompt-text-fill: #718194;
    -fx-text-fill: #bacde5;
}
